nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #000;
}
#logo{
    margin-left: 10px;
}
#perfil{
    margin-right: 10px;
}